<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Play Game</title>
  <!-- <link rel="shortcut icon" href="assets/game/favicon.ico" type="image/x-icon"> -->
  <link rel="icon" href="<%=process.env.APP_URL%>/assets/game/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/game.css">

</head>

<body>
  <div class="container">
    <div class="header">
      <a href="/game"><img class="back-btn" src="<%=process.env.APP_URL%>/assets/game/back-arrow.png" alt=""></a>
      <img class="header__logo" src="<%=process.env.APP_URL%>/assets/game/logo-1.png" alt="">
      <h2 class="header__title">GAME HISTORY</h2>
    </div>

    <div class="table-content">
      <table class="table">
        <thead class="table__header">
          <td>User Name</td>
          <td>Games Played</td>
          <td>Win</td>
          <td>Lose</td>
          <td>Draw</td>
          <td>Last Played</td>
          <td>Delete History</td>
        </thead>
        <tbody class="table__body">
          <tr>
            <td>kahliliman</td>
            <td>20</td>
            <td>10</td>
            <td>5</td>
            <td>5</td>
            <td>24-11-2020</td>
            <td><button class="btn-delete">Delete</button></td>
          </tr>
          <tr>
            <td>admin</td>
            <td>10</td>
            <td>5</td>
            <td>2</td>
            <td>3</td>
            <td>24-11-2020</td>
            <td><button class="btn-delete">Delete</button></td>
          </tr>
          <tr>
            <td>kahliliman</td>
            <td>14</td>
            <td>7</td>
            <td>4</td>
            <td>3</td>
            <td>24-11-2020</td>
            <td><button class="btn-delete">Delete</button></td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <!-- <script src="js/game.js"></script> -->
</body>

</html>