html {
  font-size: 16px;
}

body {
  font-family: 'Roboto';
  background-color: #9A6F59;
  padding: 0;
  margin: 0
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
}

.card {
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  margin-top: 10rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__title {
  font-size: 2rem;
  color: #9A6F59;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.form {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.form__label {
  margin-bottom: 0.5rem;
}

.form__input {
  min-height: 2rem;
  border-radius: 0.25rem;
  background-color: rgb(236, 236, 236);
  border: none;
  margin-bottom: 0.75rem;
  padding-left: 0.75rem;
}

.form__btn {
  cursor: pointer;
  border: none;
  min-height: 2rem;
  background-color: #FEB446;
  border-radius: 0.5rem;
}
