<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
  <div class="container">
    <div class="card">
      <h1 class="card__title">Sign Up</h1>

      <form class="form" id="form" action="<%=process.env.APP_URL%>/api/v1/user/create" method="POST">
        <label class="form__label for=" username">User Name</label>
        <input class="form__input" type="text" name="username" id="username" placeholder="username">
        <label class="form__label for=" Password">Password</label>
        <input class="form__input" type="password" name="password" id="password" placeholder="password">
        <button class="form__btn" type="submit">Sign Up</button>
      </form>

      <p>Existing User? <span><a href="<%=process.env.APP_URL%>/auth/login">Log in here</a></span></p>

      <a href="<%=process.env.APP_URL%>">Back to Homepage</a>
    </div>
  </div>
</body>

</html>